<div class="ion-padding container">
  <h1>Angular Material</h1>
  <hr />
  <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
          <button (click)="showFiller = !showFiller" mat-raised-button>
              Toggle extra text
          </button>
      </mat-drawer>
    
      <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
              Toggle sidenav
          </button>
      </div>
  
      <div [hidden]="app.device.portrait" >
          <h1>Widescreen</h1>
          <h3>(Desktop)</h3>    
      </div>
      
      <div [hidden]="!app.device.portrait" >
          <h1>Portrait / Mobile</h1>
          <h3>(Mobile)</h3>
      </div>
  
      <div class="example-container">
          <h4>Basic mat-select</h4>
          <mat-form-field>
            <mat-label>Favorite food</mat-label>
            <mat-select>
              
            </mat-select>
          </mat-form-field>
          
          <h4>Basic native select</h4>
          <mat-form-field>
            <mat-label>Cars</mat-label>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>

          <hr>
      
          <mat-form-field>
            <input matInput placeholder="Input">
          </mat-form-field>
        
          <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
          </mat-form-field>
        
          <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
      
          <hr>
      
          <p>
            <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>
          </p>
      
          <p>
            Button with a badge on the left
            <button mat-raised-button color="primary"
                matBadge="8" matBadgePosition="before" matBadgeColor="accent">
              Action
            </button>
          </p>
      
          <p>
            Icon with a badge
            <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
               
              <span class="cdk-visually-hidden">
                Example with a home icon with overlaid badge showing the number 15
              </span>
          </p>
      
          <hr>
      
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>One fish</mat-chip>
            <mat-chip>Two fish</mat-chip>
            <mat-chip color="primary" selected>Primary fish</mat-chip>
            <mat-chip color="accent" selected>Accent fish</mat-chip>
          </mat-chip-list>
      
          <br>
          
          <!--
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          -->
      
      </div>
  </mat-drawer-container>
  
</div>

  
