<div class="ion-padding container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image token koine"></div>
            <mat-card-title>Koinonos</mat-card-title>
            <mat-card-subtitle>1265.1263 KOINE</mat-card-subtitle>
            <div class="ml-auto">
                <mat-card-subtitle><b class="text-white">42.24</b> U$D</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image token eos"></div>
            <mat-card-title>EOS</mat-card-title>
            <mat-card-subtitle>115.2345 EOS</mat-card-subtitle>
            <div class="ml-auto">
                <mat-card-subtitle><b class="text-white">347.24</b> U$D</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image token telos"></div>
            <mat-card-title>Telos</mat-card-title>
            <mat-card-subtitle>3452.2364 TLOS</mat-card-subtitle>
            <div class="ml-auto">
                <mat-card-subtitle><b class="text-white">51.46</b> U$D</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image token cnt"></div>
            <mat-card-title>Cards & Tokens</mat-card-title>
            <mat-card-subtitle>24124.2351 CNT</mat-card-subtitle>
            <div class="ml-auto">
                <mat-card-subtitle><b class="text-white">23.43</b> U$D</mat-card-subtitle>
            </div>            
        </mat-card-header>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image token qbe"></div>
            <mat-card-title>Qubicles</mat-card-title>
            <mat-card-subtitle>123.0000 QBE</mat-card-subtitle>
            <div class="ml-auto">
                <mat-card-subtitle><b class="text-white">125.34</b> U$D</mat-card-subtitle>
            </div>
        </mat-card-header>
    </mat-card>

</div>
<div class="ion-padding container">
    <h1>Example Page</h1>
    <h2>Example Page</h2>
    <h3>Example Page</h3>
    <h4>Example Page</h4>
    <h5>Example Page</h5>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <hr>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <hr>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <hr>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <hr>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <p>Example texto</p>
    <hr>
    

</div>

