div.example-header-image.token {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &.telos { background-image: url(https://raw.githubusercontent.com/eosasia/eos-dapps/master/telos/logos/telos.png); border-radius: 0; }
    &.eos { background-image: url(https://raw.githubusercontent.com/eosasia/eos-dapps/master/eos/logos/eos.png); }
    &.koine { background-image: url(/assets/koinonos-icon.png); }
    &.cnt { background-image: url(https://raw.githubusercontent.com/eosasia/eos-dapps/master/telos/logos/cnt.svg); }
    &.qbe { background-image: url(https://raw.githubusercontent.com/eosasia/eos-dapps/master/telos/logos/qbe.png); }
    
} 
