li.nav-item.active a.nav-link {
    position:relative;
}

li.nav-item.active a.nav-link i.material-icons.nav {
    display: inline-block;
}

a.nav-link i.material-icons.nav {
    display: none; position: absolute; left: -24px; top: 7px;
}

a.nav-link i.material-icons:not(.nav) {
    vertical-align: middle; margin-top: -3px;
}

